@import 'tailwindcss';

@theme {
  --font-display: Inter, system-ui, sans-serif;
  --font-body: Inter, system-ui, sans-serif;

  --color-athletic-red: #FF0000;
  --color-athletic-blue: #0000FF;
  --color-athletic-white: #FFFFFF;
}
